.chat-page {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    hr {
      border: 1px groove rgba(grey, 0.6);
      margin-top: 20px;
      width: 300px;
    }
    .sign-in-with {
      display: flex;
      margin-top: 20px;
      column-gap: 20px;
    }
    .signin-bottom {
      position: absolute;
      bottom: 0;
    }
  }

  @media screen and (max-width: 800px) {
    margin: 10px 10px;
  }
}
