.chat-page {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  .chats {
    width: 80%;
    height: 60%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    .message {
      margin-bottom: 10px;
      border: 1px solid black;
      padding: 10px;
      min-height: 60px;
      width: 300px;
      display: flex;
      flex-direction: column;
      span {
        align-self: flex-end;
        &:first-child {
          font-style: italic;
          margin-top: 10px;
        }
      }
    }
  }
  form {
    display: flex;
    margin: 20px 0;
    width: 80%;
    height: 40px;
    input {
      width: 80%;
      outline: none;
    }
    button {
      color: whitesmoke;
      width: 20%;
      outline: none;
      border: none;
      background: #6246ea;
      font-size: 20px;
      &:hover {
        background: rgba(#6246ea, 0.8);
        cursor: pointer;
      }
    }
  }
  .chat-bottom {
    position: absolute;
    bottom: 0;
  }
  @media screen and (max-width: 800px) {
    margin: 10px 10px;
  }
}
