.group {
  position: relative;
  margin: 45px 0;
  width: 40vw;
  @media screen and(max-width: 800px) {
    width: unset;
  }
  .form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: Roboto, sans-serif;
    }

    &:hover {
      &::placeholder {
        color: #101010;
        font-size: 20px;
      }
    }
  }
}
